@media (max-width: 1140px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {

  #portfolio {
    .portfolio--general {
      &__img {
        justify-content: center;
      }
    }
  }

  #tools {
    .tools--general {
      &__icon {
        &--items {
          margin-left: 23.5%;
        }
      }
    }
  }

  #contact {
    .contact--general {
      &__gen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &--one {
          margin-bottom: 50px;
        }
      }
    }
  }

  #footer {
    .footer--general {
      &__gen {
        flex-wrap: wrap;

        &--logo {
          margin-bottom: 20px;
        }

        &--menu {
          margin-bottom: 20px;
        }
      }
    }
  }

}
@media (max-width: 1140px) {
#hero{
  background: url("../img/hero-svg.svg") no-repeat center;
  z-index: 4;

  .hero{
    padding: 0 0 100% 0;
    margin-top: 30px;
    &--items{
      top: 0;
      margin: 0 auto;
      width: 50%;
      text-align: center;
      align-items: center;
      &--btn{
        top: -20px;
      }
    }
    &--img{
      display: none;
      img{
        display: none;
      }
    }
  }
}

  .round{
    display: none;
  }
}
@media (max-width: 1024px) {

  .services--items{
    transform: scale(.8);
  }
  .tools--general__icon{
    transform: scale(.8);
    &--man{
      //display: none;
    }
    &--items{
      left: 0;
      &--block{
        //transform: scale(.5);
      }
    }
  }


  #team {
    .team--general {
      &__gen {
        flex-wrap: wrap;

        &--block {
          margin-bottom: 40px;
        }
      }
    }
  }

  #tools {
    .tools--general {
      &__icon {

        &--img {
          img {
            width: 90%;
            height: 90%;
            padding-bottom: 210px;
          }
        }

        &--items {

          margin-left: 23.5%;
        }
      }
    }
  }
}

.footer--general__gen{
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .header {
    &--nav {
      display: none;
    }

    &--burger-menu {
      display: block;
    }
  }

}

@media (max-width: 768px) {


  .services{
    &--titles{
      margin-bottom: 10%;
    }
  }

  .hero--img{
    transform: scale(0.6);
  }

  .about-us{
    &--descriptions{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &--1{
        &--items{
          text-align: center;
        }
      }
      &--2{
        width: 40%;
        margin: 20px auto;
        &--items{
          text-align: center;
        }
        &--border{
          display: none;
        }
      }
    }
  }

  #team {
    .team--general {
      &__gen {
        justify-content: space-around;
      }
    }
  }

  #tools {
    .tools--general {
      &__icon {
        &--img {
          img {
            position: relative;
            right: 90px;
          }
        }

        &--items {
          margin-left: 19%;
        }
      }
    }
  }

  #contact {
    .contact--general {

      &__gen {
        display: flex;
        flex-direction: column;

        &--two {
          width: 95%;

          &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

          &__gen {
          }

        }

      }

    }
  }

}

@media (max-width: 557px) {
  .hero--img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    transform: scale(0.6);
  }
.services{
  &--items{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    position: relative;
    left: -40px;
    &--conductor{
      margin: 0 auto;
      //display: none;
    }
    &--group1{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    &--group2{
      display: flex;
      flex-direction: column;
    }
  }
}
  .message{
    position: relative;
    left: 0;
    right: 0;
    margin: 10px 0;
    width: 90%;

  }


  #contact {
    .contact--general {

      &__gen {
        &--two {
          &__gen{
            &--input-group{
              display: flex;
              flex-direction: column;
              input{
                margin: 5px 0;
                width: 100%;
              }
            }
          }


          &__in {
            input {
              width: 450px;
              height: 47px;
            }
          }

          &__input {
            textarea {
              width: 500px;
              height: 150px
            }
          }

        }

      }

    }
  }

  #portfolio {
    .portfolio--general {
      &__text {
        align-items: center;
        padding-top: 0;

        &--one {
          margin-bottom: 7px;

          div {
            border: 2px solid rgba(177, 2, 193, 0.5);
            transform: rotate(-90deg);
          }

          h1 {
            padding-left: 0;
          }
        }
      }

      &__img {
        div {
          img {
            width: 90%;
            height: 90%;
          }
        }
      }
    }
  }

  #team {
    .team--general {

      &__text {
        align-items: center;
        padding-top: 0;

        &--one {
          margin-bottom: 7px;

          div {
            border: 1.75038px solid rgba(177, 2, 193, 0.5);
            transform: rotate(-90deg);
          }

          h1 {
            padding-left: 0;
          }
        }
      }


    }
  }

  #tools {
    .tools--general {

      &__text {
        align-items: center;
        padding-top: 0;

        &--one {

          div {
            border: 1.75038px solid rgba(177, 2, 193, 0.5);
            transform: rotate(-90deg);
          }

          h1 {
            padding-left: 0;
          }
        }
      }

      &__icon {
        padding-top: 20px;

        &--img {
          img {
            bottom: 7.5rem;
            width: 250px;
            position: relative;
            height: 90%;
            right: 90px;

          }
        }

        &--items {

          padding-top: 20px;
          margin-left: 10%;


        }
      }


    }
  }
}

@media (max-width: 451px) {

  .services--items{
    transform: scale(.7);
    left: -60px;
  }

  #tools {
    .tools--general {

      &__text {
        align-items: center;
        padding-top: 0;

        &--one {

          div {
            border: 1.75038px solid rgba(177, 2, 193, 0.5);
            transform: rotate(-90deg);
          }

          h1 {
            padding-left: 0;
          }
        }
      }

      &__icon {

        &--img {
          img {
            width: 250px;
            height: 90%;
            right: 100px;
            padding: 0 0;
            bottom: 20rem;
          }
        }

        &--items {

          margin-left: 8.3%;
          padding-top: 20px;

        }

      }
    }


  }

  #contact {
    .contact--general {

      &__gen {
        &--two {


          &__in {
            padding-right: 15px;
            input {
              width: 372px;
              height: 47px;
            }
          }

          &__input {
            padding-right: 15px;
            textarea {
              width: 372px;
              height: 100px
            }
          }

        }

      }

    }
  }

  #footer{
    .footer--general{
      &__gen{
        justify-content: center;
        align-items: start;
        flex-direction: column;
      }
    }
  }

}

@media (max-width: 425px) {



  #tools {
    .tools--general {


      &__icon {

        &--img {
          img {
            bottom: 25.5rem;
          }
        }


      }
    }


  }

}

@media (max-width: 415px) {
  .hero--img{
    transform: scale(.5);
  }
  .services--items{
    transform: scale(.6);
  }
}

@media (max-width: 380px) {

}

@media (max-width: 376px) {

}

@media (max-width: 320px) {



  #tools {
    .tools--general {


      &__icon {

        &--img {
          img {
            bottom: 31rem;
          }
        }


      }
    }


  }

}