@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=New+Tegomin&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=New+Tegomin&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
  background: rgba(8, 8, 9, 1);
}
a, a:hover{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{

  width: 1170px;
  margin: 0 auto;
}

button , input{
  outline: none;
}
ul,ol, li{
  text-decoration: none;
}

%description{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: rgba(177, 2, 193, 0.5);
}

%title{
  Font-family: Orbitron, sans-serif;
  font-size: 38px;
  color: white;
}

%theme{
  padding-left: 28%;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

%before-theme{
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  background: rgba(172, 11, 184, 0.5);
  left: 0;
  top: 50%;
}