@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=New+Tegomin&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=New+Tegomin&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html{
  scroll-behavior: smooth;
}
body{
  background: url("../img/Bg-img.png") no-repeat center/cover;
  min-height: 100vh;
}
a, a:hover{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

button, input{
  outline: none;
}
ul,ol, li{
  text-decoration: none;
}

%description{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(5px + 11 * (100vw / 1200));
  color: rgba(177, 2, 193, 0.5);
}

%title{
  Font-family: Orbitron, sans-serif;
  font-size: calc(15px + 23 * (100vw / 1200));  // 38px;
  color: white;
}

%theme{
  padding-left: 28%;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(15px + 13 * (100vw / 1200));
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

%before-theme{
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  background: rgba(172, 11, 184, 0.5);
  left: 0;
  top: 50%;
}

%input{
  padding: 12px 20px;
  font-family:  sans-serif;
  color: #FFFFFF;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  opacity: .5;
  outline: none;
}