@media (max-width: 820px) {
  #header {
    position: relative;

    .burger-menu-box {
      position: absolute;
      transition: .7s;
      width: 100vw;
      background: #120612;
      z-index: 4;
      display: flex;
      justify-content: center;
      padding: 50px 0 40px 0;

      &--nav {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--item {
          Font-family: Montserrat, sans-serif;
          Font-size: 20px;
          Line-height: 25px;
          Vertical-align: Top;
          color: #FFFFFF;
          margin: 15px 0;
        }
      }
    }

  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0 20px;

  &--logo {
    &--img {
      transform: scale(1.4);
    }
  }

  &--nav {
    display: flex;
    justify-content: space-between;

    &--item {
      margin-left: 40px;
      @extend %title;
      font-size: 14px;
      font-family: sans-serif;
      position: relative;
      transition: .2s;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background: #53FD08;
        transition: .3s;
      }

      &:hover {
        color: #53FD08;

        &:before {
          width: 100%;
        }
      }
    }
  }

  &--burger-menu {
    display: none;
    transform: rotate(90deg);

    &--span {
      border-radius: 8px;
      padding: 15px 3px;
      background: linear-gradient(#600766 0%, #FFFFFF 100%);
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        background: linear-gradient(#600766 0%, #FFFFFF 100%);
        border-radius: 8px;
        left: 10px;
        top: 0;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 120%;
        background: linear-gradient(#600766 0%, #FFFFFF 100%);
        border-radius: 8px;
        right: 10px;
        top: 0;
      }

    }
  }
}


//----HERO----//
#hero  {

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--items {
      top: 0;
      display: flex;
      flex-direction: column;

      &--title {
        @extend %title
      }

      &--subtitle {
        margin: 12px 0 5px 0;
        @extend %title;
        color: rgba(177, 1, 193, 0.5);
        font-size: calc(15px + 14 * (100vw / 1200))
      }

      &--description {
        @extend %description;
        color: white;
        font-size: calc(6px + 8 * (100vw / 1200));
        line-height: 23px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      &--btn {
        color: white;
        font-size: calc(10px + 6 * (100vw / 1200));
        margin-top: 25px;
        padding: 10px 20px;
        width: 60%;
        background: transparent;
        border: 1px solid #53FD08;
        transition: .2s;

        &:hover {
          background: rgb(0, 0, 0);
          color: #53FD08;
        }
      }
    }

    &--img {
      margin: 0 auto;
    }
  }
}
//----HERO----//


//----ABOUT_US-----//
#about-us {
  .about-us {
    &--titles {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--theme {
        display: flex;
        flex-direction: column;

        &--title {
          display: flex;
          flex-wrap: nowrap;
          @extend %theme;

          &:before {
            @extend %before-theme;
          }
        }

        &--subtitle {
          @extend %description;
          margin: 10px 0;
        }
      }

      &--more {
        @extend %description;
      }
    }

    &--images {
      width: 99%;
      margin: 30px auto;
      display: flex;
      justify-content: space-between;
      align-items: start;

      &--team-work {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin-right: 1%;
        z-index: 0;

        img {
          width: 100%;
          transition: .3s;
          z-index: 0;

          &:hover {
            transform: scale(1.2);
          }
        }

        &--titles {
          position: absolute;
          bottom: 0;
          z-index: 3;
          padding: 0 0 20px 20px;
          transform: translateY(70px);
          transition: .3s;

          h3 {
            @extend %description;
            color: white;
            font-size: calc(8px + 12 * (100vh / 1200));
          }

          p {
            @extend %description;
            color: white;
            font-weight: 300;
            font-size: calc(6px + 8 * (100vh / 1200));
          }
        }
      }

      &:hover .img-title {
        transform: translateY(0);
      }

      &--group {

        &--1 {
          border-radius: 10px;
          position: relative;
          overflow: hidden;

          img {
            width: 100%;
            transition: .3s;

            &:hover {
              transform: scale(1.2);
            }
          }

          &--titles {
            position: absolute;
            bottom: 0;
            z-index: 3;
            padding: 0 0 20px 20px;

            h3 {
              @extend %description;
              color: white;
              font-size: calc(8px + 12 * (100vh / 1200));
              font-weight: 400;
            }

            p {
              @extend %description;
              color: white;
              font-weight: 300;
              font-size: calc(6px + 8 * (100vh / 1200));
              margin: 3px 0;
            }

          }
        }

        &--2 {
          margin-top: 2%;
          border-radius: 10px;
          position: relative;
          overflow: hidden;

          img {
            width: 100%;
            transition: .3s;

            &:hover {
              transform: scale(1.2);
            }
          }

          &--titles {
            position: absolute;
            bottom: 0;
            z-index: 3;
            padding: 0 0 20px 20px;

            h3 {
              @extend %description;
              color: white;
              font-size: calc(8px + 12 * (100vh / 1200));
              font-weight: 400;
            }

            p {
              @extend %description;
              color: white;
              font-weight: 300;
              font-size: calc(6px + 8 * (100vh / 1200));
              margin: 3px 0;
            }

          }
        }
      }
    }

    &--descriptions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--1{
        display: flex;
        flex-wrap: nowrap;
        &--items {
          h4 {
            @extend %description;
            color: white;
            font-size: 1.3em;
            font-weight: 300;
          }

          p {
            @extend %description;
            color: white;
            font-size: .8em;
            font-weight: 300;
            margin-top: 10px;
            line-height: 20px;
          }
        }

        &--border {
          width: 3px;
          height: 60px;
          background: #5D0965;
          margin: 0 10%;
        }
      }

      &--2{
        display: flex;
        &--items {
          h4 {
            @extend %description;
            color: white;
            font-size: 1.3em;
            font-weight: 300;
          }

          p {
            @extend %description;
            color: white;
            font-size: .8em;
            font-weight: 300;
            margin-top: 10px;
            line-height: 20px;
          }
        }

        &--border {
          width: 3px;
          height: 60px;
          background: #5D0965;
          margin: 0 10%;
        }
      }
    }
  }
}
//----ABOUT_US-----//


//----SERVICES-----//
#services {
  margin: 15% 0;

  .services {
    &--titles {
      &--title {
        @extend %theme;
        padding-left: 7%;

        &:before {
          @extend %before-theme;
          width: 5%;
        }
      }

      &--subtitle {
        @extend %description;
        margin: 10px 0;
      }
    }

    &--items {
      display: flex;
      flex-direction: column;
      //position: relative;
      &--group1 {
        display: flex;
        position: relative;
        z-index: 3;

        &--top {
          position: absolute;
          top: 120px;
          left: 27px;
          display: flex;
          align-items: center;

          &--description {
            //width: 95%;
            position: relative;

            &--title {
              position: absolute;
              z-index: 2;
              top: 0;
              right: 5%;
              padding: 10px;

              h3 {
                @extend %description;
                color: white;
                font-weight: 400;
                margin: 5px 0;
              }

              p {
                @extend %description;
                color: white;
                font-weight: 200;
                font-size: .8em;
                margin: 3px 0;
              }
            }
          }
        }

        &--bottom {
          position: absolute;
          right: 25px;
          top: -75px;
          display: flex;
          align-items: center;

          &--description {
            position: relative;

            &--title {
              position: absolute;
              z-index: 4;
              top: 0;
              left: 5%;
              padding: 10px;

              h3 {
                @extend %description;
                color: white;
                font-weight: 400;
                margin: 5px 0;
              }

              p {
                @extend %description;
                color: white;
                font-weight: 200;
                font-size: .8em;
                margin: 3px 0;
              }
            }
          }
        }
      }

      &--conductor {
        margin: 0 auto;
      }

      &--group2 {
        display: flex;
        position: relative;
        z-index: 3;

        &--top {
          position: absolute;
          top: -50px;
          left: 24px;
          display: flex;
          align-items: center;

          &--description {
            position: relative;

            &--title {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 5%;
              padding: 10px;

              h3 {
                @extend %description;
                color: white;
                font-weight: 400;
                margin: 5px 0;
              }

              p {
                @extend %description;
                color: white;
                font-weight: 200;
                font-size: .8em;
                margin: 3px 0;
              }
            }
          }
        }

        &--bottom {
          position: absolute;
          bottom: 96px;
          right: 25px;
          display: flex;
          align-items: center;

          &--description {
            position: relative;

            &--title {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 5%;
              padding: 10px;

              h3 {
                @extend %description;
                color: white;
                font-weight: 400;
                margin: 5px 0;
              }

              p {
                @extend %description;
                color: white;
                font-weight: 200;
                font-size: .8em;
                margin: 3px 0;
              }
            }
          }
        }
      }
    }
  }
}
//----SERVICES-----//

// calc(4px + 12 * (100vw / 1280))